#include <physical_layouts.dtsi>

/ {
    overcooked_physical_layout: overcooked_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Overcooked_default";
        // kscan = <&kscan0>;
        transform = <&default_transform>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  106       0     0     0>
            , <&key_physical_attrs 100 100  100   35       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   39       0     0     0>
            , <&key_physical_attrs 100 100  400   53       0     0     0>
            , <&key_physical_attrs 100 100  900   53       0     0     0>
            , <&key_physical_attrs 100 100 1000   39       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200   35       0     0     0>
            , <&key_physical_attrs 100 100 1300  106       0     0     0>
            , <&key_physical_attrs 100 100    0  206       0     0     0>
            , <&key_physical_attrs 100 100  100  135       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  139       0     0     0>
            , <&key_physical_attrs 100 100  400  153       0     0     0>
            , <&key_physical_attrs 100 100  900  153       0     0     0>
            , <&key_physical_attrs 100 100 1000  139       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  135       0     0     0>
            , <&key_physical_attrs 100 100 1300  206       0     0     0>
            , <&key_physical_attrs 100 100    0  306       0     0     0>
            , <&key_physical_attrs 100 100  100  235       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  239       0     0     0>
            , <&key_physical_attrs 100 100  400  253       0     0     0>
            , <&key_physical_attrs 100 100  900  253       0     0     0>
            , <&key_physical_attrs 100 100 1000  239       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  235       0     0     0>
            , <&key_physical_attrs 100 100 1300  306       0     0     0>
            , <&key_physical_attrs 100 100  331  356       0     0     0>
            , <&key_physical_attrs 100 100  441  372    1500   491   422>
            , <&key_physical_attrs 100 100  544  417    3000   594   467>
            , <&key_physical_attrs 100 100  756  417 (-3000)   806   467>
            , <&key_physical_attrs 100 100  859  372 (-1500)   909   422>
            , <&key_physical_attrs 100 100  969  356       0     0     0>
            ;

    };
    

    position_map {
        compatible = "zmk,physical-layout-position-map";

        overcooked_physical_layout {
            physical-layout = <&overcooked_physical_layout>;
            positions = <>;
        };
    };
};